/* begin basic styling */
body {
	background-color: #ffffff;
}

h1 {
	text-align: center;
}

.uplodDiv {
        width:100%;
        height:100%;
        opacity:.95;
        top:0;
        left:0;
        position:fixed;
        overflow:auto;

}
.upload {
	background: white;
        position:absolute;
        left:50%;
        top:17%;
	border: 1px solid;
	display: none;
        margin-left:-202px;


}

/* end basic styling                                 */

/* Sets up the container div for the table */
.tableContainer {
	clear: both;
	border: 1px solid #000;
	height: 600px;
	overflow: auto; /* what makes the table scrollable */
	width: 800px;
	margin: 0 auto;
}


/* make the th elements pretty */
.fixedHeader th {
	background: #000;
	color: #fff;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	font-weight: normal;
	padding: 4px 3px;
	text-align: center;
	width: auto;	
}

/* make td elements pretty. */
.scrollContent td {
	background: #fff;
	border-bottom: none;
	border-left: none;
	border-right: 1px solid #CCC;
	border-top: 1px solid #DDD;
	padding: 2px 3px 3px 4px;
	width: auto;
}


