<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="/static/js/popup.js"></script>
		{% if title %}
			<title>{{ title }} - IRiS</title>
		{% else %}
			<title>Welcome to IRiS</title>
		{% endif %}
	</head>
	<body>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/index">IRiS</a>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a  href="/alert">Alert</a></li>
						<li><a href="/incident">Incident</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a class="btnUpload" onclick="div_show()" ><span class="glyphicon glyphicon-upload"></span>Upload</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="uploadDiv">
		<div class="upload" id="upload">
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
					{% for message in messages %}
						<li>{{ message }} </li>
					{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}

			<form action="" method=post enctype="multipart/form-data">
				<p><input type=file name=file>
				<!--- note: how to prevent from disapearing when clicking submit button -->
				<input type="submit" name='btn' value="Upload" >
				<!--- note: change this background to an image that has a red x in corner for close -->
				<input type="button" name='close' value="Close" onclick="div_hide()">
			</form>
		</div>
		</div>
		{% block content %}{% endblock %}
	</body>
</html>
